<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bands
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let band of bands" class="ion-activatable" (click)="showShit('hello')">
      <ion-ripple-effect></ion-ripple-effect>
      <div style="display: flex; justify-content: center; align-items: center;">
        <img [src]="band" style="width: 70%; height: 70%;">
      </div>
    </ion-card>
</ion-content>
