<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="switch" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let event of events; let i = index" class="ion-activatable" (click)="showEventDetails(event)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-spinner name="lines" color="primary" style="width: 50%; margin-top: 55px;"></ion-spinner>
      <img name="event_img" [src]="event.english_image" alt="" style="margin-bottom: 3px; display: none;" (load)="imgLoaded(i)"/>
      <ion-label style="display: none;">{{getUpcomingDate(event.english_start_date, event.english_end_date)}}</ion-label>
    </ion-card>
    <ion-infinite-scroll threshold="80px" (ionInfinite)="loadData($event)" style="margin-top: 20px;">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
