<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="switch" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let event of events" class="ion-activatable" (click)="showEventDetails(event)">
      <ion-ripple-effect></ion-ripple-effect>
      <img [src]="event.english_image" alt="">
    </ion-card>
    <ion-infinite-scroll threshold="80px" (ionInfinite)="loadData($event)" style="margin-top: 20px;">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
